.example {
  input.invalid {
    border: 1px solid red;
  }

  .errors-list {
    padding: 0;
    list-style-type: none;
    color: red;
  }

  div.errors-list {
    p {
      margin-bottom: 0;
      color: black;

      i {
        color: red;
      }
    }
  }

  pre {
    margin-top: 30px;
  }
}
